.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.layout-header-bar {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.ivu-modal-header-inner {
  text-align: center;
}

.modelBottom a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 15px 6px;
  font-size: 12px;
  border-radius: 4px;
  transition: color 0.2s;
  margin-left: 10px;
  border: 1px solid #2d8cf0;
}
.imgWrap img{
  width: 100%;
}
.imgWrap {
  font-size: 0;
}
.imgWrap span {
  font-size: 16PX;
  line-height: 50px;
}
.photoBox {
  min-height: 580px;
}
.page {
  text-align: center;
}
.photoItem.addItem .imgWrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.photoItem.addItem .imgWrap:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .4);

}
.photoItem.addItem .imgWrap:hover span {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.photoItem.addItem .imgWrap span {
  font-size: 60px;
}